body{
	margin: 0;
	color: white;
	background: rgb(0,0,0);
	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.35) 35%, rgba(0,0,0,0.35) 55%, rgba(0,0,0,0.5) 100%), url(../Images/book2.jpeg);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	color: #f2f2f2;
}

.container{
	background-color: rgba(28,28,28,0.75);
	backdrop-filter: blur(2px);

	width: 300px;
	padding: 30px;
	margin: 0 auto;
	border-radius: 15px;
}
.form-control{
	color: black;
	width: 100%;
	border-radius: 5px;
	margin-bottom: 10px;
}
.btn{
	border-radius: 5px;
	padding: 10px 20px;
	background-color: #007bff;
	color: #fff;
	border: none;
	cursor: pointer;
	transition: 0.1s ease-out;
}


.btn:hover{
	background-color: #0056b3;
	transform: scale(1.1);
}

.Logo{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px;
	margin: 0 auto;
	margin-top: 5vh;
}

@media screen and (orientation: landscape) { /*orientacion horizontal, su funcion se explica sola*/
  body {
  	margin: 0;
  	color: white;
    background: rgb(0,0,0);
	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.35) 35%, rgba(0,0,0,0.35) 55%, rgba(0,0,0,0.5) 100%), url(../Images/bgmain.jpeg);
    background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	color: #f2f2f2;
  }

.LCMTT{
	font-size: 1.8em;
	color: white;
}

.logLogo{
	margin: 0;
	padding: 0;
	height: 25vh;
}

}

@media screen and (orientation: portrait){ /*orientacion vertical, su funcion se explica sola*/
.LCMTT{
	font-size: 1.2em;
	color: white;
}

.logLogo{
	margin: 0;
	padding: 0;
	height: 15vh;
}

}