/*configuraciones generales*/
html{
  scroll-behavior: smooth;
}

body, html {
  background: black;
  height: 100%;
  margin: 0;
  color: white;
}
/*configuraciones generales*/
/*------------------------------------*/
/*Pantalla principal*/
.bgimg1 {
  background: rgb(6,6,6);
  background: linear-gradient(0deg, rgba(6,6,6,1) 0%, rgba(4,13,18,0.5) 35%, rgba(4,11,16,0.5) 65%, rgba(32,32,32,1) 100%), url("../Images/main.png");
  min-height: 100%;
  background-attachment: fixed;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.MainTitle {
  text-shadow: 0px 2px 3px black;
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  text-align: center;
  color: #000;
}
.MainTitle span.MT {
  color: #fff;
  padding: 18px;
  font-size: 4em;
  letter-spacing: 10px;
}
.MainTitle span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}
.sub{
  font-size: 1.2em;
  color: white;
  font-family: monospace;
}
/*Pantalla principal*/
/*------------------------------------*/

/*------------------------------------*/
/*footer*/
footer{
  padding-top: 30px;
  min-height: 100px;
}

.infFoot{
  background:#080808;
  border-top: 1px solid #202020;
  border-bottom: 10vh solid #202020;
  padding: 0%;
  padding-bottom: 30px;
  align-items: center;
  margin: 0;
  min-height: 50px;
  width: 100%;
  font-family: monospace;
  text-align: center;
  font-size: 1em;
}

.OpcInf{
  margin: 0;
  padding: 1% 0%;
  list-style: none;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  grid-template-rows: 25px;
}
/*footer*/

/*Logo en footer*/
.Logo{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin: 0 auto;
  padding-bottom: 0;
}

.LCMTT{
  color: white;
  text-align: left;
  margin-bottom: 0;
  padding-bottom: 0;
  font-family: cambria;
}

.logLogo{
  margin: 0;
  padding: 0;  
}

.pasport{
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: -2vh;
  font-family: serif;
  letter-spacing: 0.1em;
  word-spacing: 0.2em;
}
/*Logo en footer*/
/*------------------------------------*/
/*------------------------------------*/

.SecTt{
  margin: 5vw;
  margin-bottom: 0.5vw;
  opacity: 0.7;
  font-family: serif;
  color: white;
  border: 5px, solid, white;
  border-style: double;
  padding: 2vh;
  text-align: center;
}
.inf{
  opacity: 0.7;
  font-family: serif;
  color: white;
  padding: 5vh;
}

.sectCar{
  min-height: 100vh;
  background: #080808;
}


/*------------------------------------*/

.sectCar{
  background: rgb(28,28,28);
  background: linear-gradient(180deg, rgba(28,28,28,0.5) 0%, rgba(0,0,0,0.5) 100%), url("../Images/mountain.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CarContainer{
  margin-top: -35vh;
  padding: 10vw;
  height: 480px;
  width: 600px;
}

.carTxtS{
  font-family: 'serif';
  text-align: center;
  border-bottom: 3px solid #212121;
}

.carTxtI{
  margin-top: 1vh;
  font-family: 'serif';
  text-align: center;
  border-top: 3px solid #212121;
}

/*------------------------------------*/
/*cambios en relacion de aspecto*/

.sectInf{
  display: flex;
}

@media screen and (orientation: landscape) { /*orientacion horizontal, su funcion se explica sola*/
.LCMTT{
  font-size: 3em;
}

.logLogo{
  height: 25vh;
}

.pasport{
  font-size: 1.5em;
}

.sectInf{
   background: rgb(6,6,6);
  background: linear-gradient(0deg, rgba(6,6,6,1) 0%, rgba(4,13,18,0.5) 35%, rgba(4,11,16,0.5) 65%, rgba(32,32,32,1) 100%), url("../Images/blackboardH2.jpeg");
  flex-direction: grow;
}

.SecTt{
  min-width: 35%;
  max-width: 40%;
}

.inf{
  padding-right: 15vw;
  font-size: 1.5em;
  font-family: serif;
}


}

@media screen and (orientation: portrait){ /*orientacion vertical, su funcion se explica sola*/
.LCMTT{
  font-size: 1.8em;
}

.logLogo{
  height: 20vh;
}

.pasport{
  font-size: 1.2em;
}

.sectInf{
   background: rgb(6,6,6);
  background: linear-gradient(0deg, rgba(6,6,6,1) 0%, rgba(4,13,18,0.5) 35%, rgba(4,11,16,0.5) 65%, rgba(32,32,32,1) 100%), url("../Images/blackboardV.jpeg");
  flex-direction: column;
}

.SecTt{
  min-width: 55vw;
  max-width: 60vw;
  margin: 6vw;
}

.inf{
  padding-left: 15vw;
  font-family: serif;
}

}

.sectInf{
  align-items: center;
  justify-content: center;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

/*cambios en relacion de aspecto*/

/*link img*/
.imgl:link{color: white;  font-family: Comic Sans MS; text-decoration: none;}
.imgl:visited{color: white;  font-family: Comic Sans MS; text-decoration: none; }
.imgl:hover{ color: lightgray; font-family: Comic Sans MS; text-decoration: none;}




/*para esta parte si me apoyé de gpt XD*/
/*lista oscura y aha eso XD, ya me dio weba comentar, pero es para la lista de integrantes (el acordeon)*/

/* Estilos para el acordeón oscuro */
.accordion-dark .accordion-button {
    background-color: #080808; /* Fondo oscuro para el botón */
    color: white; /* Texto blanco */
    border: none;
}

.accordion-dark .accordion-button:focus {
  color: white;
    box-shadow: none;
}

.accordion-dark .accordion-button:not(.collapsed) {
    color: white;
    background-color: #050505; /* Fondo más oscuro cuando está abierto */
}

.accordion-dark .accordion-body {
    background-color: black; /* Fondo oscuro para el contenido */
    color: white;
}

.accordion-dark .list-group-item {
    background-color: #080808; /* Fondo oscuro para los ítems */
    color: white;
    text-align: left; /* Alineación a la izquierda */
    border-color: white; /* Cambia el borde blanco por #212121 */
}

.accordion-dark .list-group-item:hover {
    background-color: #030303; /* Fondo más oscuro cuando pasas el cursor */
}

/**/

